<!-- testng.xml in project root -->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="BrowserStack Suite" parallel="methods" thread-count="3">
    <test name="Login Tests">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="runEnv" value="local"></parameter>
        <classes>
            <class name="com.example.demo.LoginTest"/>
        </classes>
    </test>
    <test name="Search Tests">
        <classes>
            <class name="com.example.demo.SearchTest"/>
        </classes>
    </test>
</suite>
